body {
    margin: 0 auto;
    background-color: #1E1E2F;
    color: #F5F5F5
}

.container {
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
    padding: 0 20px;
    flex-direction: column;
    max-width: 1080px;
    overflow-x: hidden;
}

.main-content {
    
    display: flex;
    gap: 100px;
    justify-content: center;

    

}



.balance {
    
    margin-top: 50px;
    border-bottom: 2px solid white; 
    padding-bottom: 10px; 
    width: 100%;
}

h1 {
    font-size: 48px;
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
}

.card {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    background-color: #2D2D44;
    align-self: center;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    
}

input {
    border-radius: 4px;
}

.total-category, .date-category, .category-category, .type-category{
    margin-top: 10px;
    font-size: 18px;
}




.report {
    align-self: center;
    margin-top: 40px;
    padding: 15px 30px;
    background: #444475;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
     
}


button {
    background-color: #FF6B6B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.btn {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #FF5252;
}

.report h2 {
    text-align: center;
    
}

.report-bar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    
}

.report-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.report-bar {
    background: #4CAF50;
    color: white;
    height: 20px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    
}

.report-list {
    max-width: 100%;
}

#entriesList {
    list-style: none;
    padding: 0;
    padding-left: 100px; 
    border-left: 2px solid white; 
}

#entriesList li {
    background: #444475;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        max-width: 500px;
    }

    .card{
        padding: 10px;
    }
   .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    max-width: 
   }
   #entriesList {
    border-left: none;
    padding-left: 0;
   }
}