body {
    margin: 0 auto;
    background-color: #1E1E2F;
    color: #F5F5F5
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-size: 48px;
    letter-spacing: 2px;
    margin-top: 60px;
}

.card {
    display: flex;
    height: 100%;
    
    margin-top: 30px;
    justify-content: center;
    background-color: #2D2D44;
    
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

input {
    border-radius: 4px;
}

.total-category, .date-category, .category-category, .type-category{
    margin-top: 10px;
    font-size: 18px;
}




.report {
    margin-top: 20px;
    padding: 15px;
    background: #444475;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

button {
    background-color: #FF6B6B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.btn {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #FF5252;
}

.report h2 {
    text-align: center;
    
}

.report-bar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    
}

.report-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.report-bar {
    background: #4CAF50;
    color: white;
    height: 20px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    
}